version: '3.8'
name: docker

services:
  lola-db:
    image: mongo:latest
    container_name: lola-db
    ports:
      - 27018:27017 # Expose MongoDB for local access if needed
    volumes:
      - lola-data:/data/db
    networks:
      - lola-api

  lola-api:
    image: swiip23/lola-api:latest
    container_name: lola-api
    ports:
      - 5001:5000 # Expose API on localhost
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://lola-db:27017/ # Use correct service name as host
    depends_on:
      - lola-db
    networks:
      - lola-api

  lola-frontend:
    image: swiip23/lola-frontend:latest
    container_name: lola-frontend
    ports:
      - 3000:3000 # Expose React frontend on localhost:3000
    depends_on:
      - lola-api
    networks:
      - lola-frontend

volumes:
  lola-data:
    driver: local

networks:
  lola-api:
    driver: bridge
  lola-frontend:
    driver: bridge