version: "3.8"

services:
  lola-db:
    image: mongo:latest
    volumes:
      - lola-data:/data/db
    networks:
      - lola-network
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

  lola-api:
    image: swiip23/lola-api:latest
    ports:
      - "5001:5000"
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://lola-db:27017/
    networks:
      - lola-network
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

  lola-frontend:
    image: swiip23/lola-frontend:latest
    ports:
      - "3000:3000"
    networks:
      - lola-network
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

volumes:
  lola-data:

networks:
  lola-network:
    driver: overlay