:root {
    --primary-color: #351944; /* Violet text color */
    --secondary-color: #663469; /* Violet border color */
}

.dashboard-container {
    padding: 20px;
    background-color: #f5f5f5;
}

.dashboard-container h4 {
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

.dashboard-tools-loading,
.dashboard-tools-empty {
    text-align: center;
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: bold;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px; /* Reduced gap between grid items */
    justify-items: center;
    align-items: center;
}

.tool-item {
    padding: 20px;
    width: 100%;
    max-width: 300px;
    background: linear-gradient(90deg, #eae0f1, #d8c7e4);
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    aspect-ratio: 1.2; /* Makes the item slightly shorter */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tool-item:hover {
    transform: scale(1.02);
}

.tool-item h6 {
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 12px;
}

.tool-item .MuiTypography-body2 {
    color: var(--secondary-color);
    font-weight: normal;
    margin-bottom: 12px;
}

.tool-item .MuiButton-contained {
    font-weight: bold;
    margin: 5px;
    border-radius: 8px;
    padding: 10px 20px;
    text-transform: none;
    display: inline-block;
    background-color: var(--primary-color); /* Forces the button to be purple */
    color: white; /* Text color is white for better contrast */
    width: 100%; /* Make buttons full width */
}

.tool-item .MuiButton-contained-primary {
    background: var(--primary-color); /* Set primary button to purple */
}

.tool-item .MuiButton-contained-primary:hover {
    background: #5d2a70; /* Slightly darker purple for hover */
}

.tool-item .MuiButton-contained-secondary {
    background: #eae0f1;
    color: var(--primary-color);
}

.tool-item .MuiButton-contained-secondary:hover {
    background: #d8c7e4;
}

.tool-item .MuiButton-contained-error {
    background-color: var(--primary-color);
    color: white;
}

.tool-item .MuiButton-contained-error:hover {
    background-color: var(--secondary-color);
}

.tool-item .MuiButton-contained:first-child {
    margin-bottom: 10px; /* Add space between the buttons */
}
