
/* Footer styles */
.footer-container {
    padding: 16px 0;
    margin-top: auto;
    text-align: center;
    background: linear-gradient(90deg, #663469 0%, #8D567F 100%) !important; /* Swapped gradient direction */
    color: #FCF3F1;
    backdrop-filter: blur(5px);
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.3);
}

.footer-text {
    margin-bottom: 8px;
}

.footer-italic {
    font-style: italic;
}