/* general.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: var(--gradient-dark-end);
    font-family: 'Arial', sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    padding: 20px;
    text-align: center;
}
