:root {
    --primary-color: #351944; /* Violet text color */
    --secondary-color: #663469; /* Violet border color */
    --background-color: #351944; /* Purple background for the container */
    --box-background-color: #FFFFFF; /* White background for the login box */
    --button-color: #FFFFFF; /* White text for buttons */
    --transparent-background: transparent;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--background-color); /* Purple background */
}

.website-name {
    margin-bottom: 20px;
}

.logo {
    height: 80px;
    width: auto;
    margin-bottom: -10px;
}

.login-box {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    background-color: var(--box-background-color); /* White background for the login box */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.title {
    text-align: center;
    margin-bottom: 16px;
}

.select-role {
    margin-top: 16px;
}

.register-button {
    margin-top: 16px;
    color: var(--primary-color); /* Violet text */
    border-color: var(--secondary-color); /* Violet border */
    background: var(--transparent-background); /* Transparent background */
}

.input-field {
    margin-top: 16px;
}

.login-button {
    margin-top: 16px;
    background-color: var(--primary-color);
    color: var(--button-color); /* White text */
}
