:root {
    --primary-color: #351944; /* Violet text color /
--secondary-color: #663469; / Violet border color /
--background-color: #351944; / Purple background for the container /
--box-background-color: #FFFFFF; / White background for the register box /
--button-color: #FFFFFF; / White text for buttons */
    --transparent-background: transparent;
}

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--background-color); /* Purple background */
}

.website-name {
    margin-bottom: 20px;
}

.logo {
    height: 80px;
    width: auto;
    margin-bottom: -10px;
}

.register-box {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    background-color: var(--box-background-color); /* White background */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.title {
    text-align: center;
    margin-bottom: 16px;
}

.input-field {
    margin-top: 16px;
}
.register-button {
    margin-top: 16px;
    background-color: var(--primary-color); /* Purple background /
color: var(--button-color); / White text /
border: none; / No border /
border-radius: 4px; / Rounded corners /
padding: 10px 0; / Button padding /
font-size: 16px;
font-weight: bold;
cursor: pointer;
text-transform: uppercase;
transition: background-color 0.3s ease, color 0.3s ease; / Smooth transitions */
}

.register-button:hover {
    background-color: var(--button-color); /* White background /
color: var(--primary-color); / Purple text /
border: 2px solid var(--primary-color); / Optional: Purple border for emphasis */
}

.alert-box {
    margin-bottom: 16px;
}